.gallery-section {
    position: relative;
    overflow: hidden; 
    padding: 100px !important;
    margin: 0px !important;

  }
  .mycontainer .gallery-carousel .item {

    margin: 0px !important;
    justify-content: center !important;
  }
  .mycontainer {
    position: static !important;
  }

  .gallery-block-one .inner-box .image-box img {
    justify-content: center !important;

    text-align: center !important;
}
  .myitem {
    /* width: 870px !important; */
    padding-left: 15px !important; 
    padding-right: 15px !important; 
    margin: 0px !important;
  }
  

  .mycontainer .slick-list {
    overflow: visible !important; 
}


  .gallery-block-one .inner-box .content-box {
    position: absolute;
    left: 18px !important;
    bottom: 21px !important;
    width: 100%;
    opacity: 1 !important;
    transition: all 500ms ease;
  }
  .slick-dots {
    display: none !important;
  }
  
  .slick-arrow.slick-next {
    display: none !important;
  }
  

  .slick-slider.slick-initialized .slick-arrow.slick-prev {
    display: none !important;
  }
  
  @media (max-width: 480px) {
    .gallery-section {
      padding: 0 !important;
    }
  }

  @media only screen and (max-width: 499px) {
    .gallery-block-one .inner-box .content-box {
      display: block !important; /* Ensure it is displayed */
      overflow: visible !important;
    }
  }
  
  /* General styles for phone view */
@media only screen and (max-width: 499px) {
    .gallery-block-one .inner-box .content-box h4 a {
      font-size: 8px !important;  
      line-height: 20px !important; 
      padding: 0px 3px !important; 
    }
  }
  @media only screen and (max-width: 499px) {
    .gallery-block-one .inner-box .content-box span {

            font-size: 7px !important;
            line-height: 17px !important;
            padding: 0px 8px !important;
          }
    
  }
  
  @media only screen and (max-width: 499px) {
    .gallery-block-one .inner-box .content-box h4 {
      margin-bottom: 0 !important;
    }
  }

  .myitem .gallery-block-one .inner-box .image-box img {
    height: 523px !important; 
    width: 100% !important; 
  }
@media (max-width: 767px) { 
  .myitem .gallery-block-one .inner-box .image-box img {
    height: auto !important; 
    width: 100% !important; 
  } 
}

@media (max-width: 767px) { 
  
  .mycontainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .mycontainer .sec-title .sub-title {
    font-size: 45px; 
    margin-bottom: 0px !important;
  }

  .mycontainer .sec-title h2  {
    font-size: 31px !important;
    line-height: normal !important; 
  }
}


@media (max-width: 767px) { 
  
  .viewer .image-column .image-box > div {
    height: 340px !important; 
  }
}

@media (max-width: 767px) { 
  
  .venusimg {
    height: auto !important; 
  }
}
